:root {
  --white: #fff;
  --vanilla: #f2e3c6;
  --light-blue: #c0c7cf;
  --dark: #2b2b2b;
  --warning: #e6324b;
  --warningHover: #ff3957;

  /* -- Spacing -- */
  --spacing: 20px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--dark);
  color: var(--light-blue);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: var(--spacing);
  line-height: 2rem;
}

p {
  line-height: 1.5rem;
  margin-bottom: var(--spacing);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.23rem;
}

header,
main {
  padding: 30px;
}

a {
  color: var(--light-blue);
  text-decoration: none;
  transition: all ease 0.3s;
}

a:hover {
  color: var(--white);
}

section {
  width: 100%;
  max-width: 640px;
  background: var(--vanilla);
  border-radius: 10px;
  border-width: 2px;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
  color: var(--dark);
  font-size: 18px;
  margin: 0 auto;
  padding: 30px;
}

@media all and (min-width: 768px) {
  section {
    padding: 60px;
  }
}

.intro-text {
    text-align: center;
}

#high-scores {
  margin-bottom: var(--spacing);
}

#initials {
  line-height: 1.5rem;
  padding: 0.6rem 1.2rem;
  border: 2px solid var(--dark);
  border-radius: 0.5rem;
  max-width: 100px;
}

#initials:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media all and (max-width: 453px) {
  #game-over label {
    padding-bottom: var(--spacing);
    display: block;
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--spacing);
}

.button {
  background-color: var(--dark);
  opacity: 0.9;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  transition: all ease 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin: 0;
}

.button-wrapper .button {
  width: 100%;
  height: 100%;
  margin: 0 0 var(--spacing);
}

.button:last-child {
  margin: 0;
}

.button:hover {
  opacity: 1;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button#start-quiz {
  background-color: #7ab317;
}

@media all and (min-width: 768px) {
  .button-wrapper {
    flex-direction: row;
  }

  .button-wrapper .button {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0.75rem 1.5rem;
  }

  .button-wrapper .button:last-child {
    margin-right: 0;
    margin-left: 10px;
  }
}

.warning {
  background-color: var(--warning);
  color: var(--white);
}

#choices .button {
  display: block;
  width: 100%;
  margin-bottom: var(--spacing);
}
#high-scores li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #b4a994;
}
#high-scores li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
